# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Flutter
/arms/.dart_tool/
/arms/.flutter-plugins
/arms/.flutter-plugins-dependencies
/arms/.metadata
/arms/build/
/arms/android/local.properties
/arms/ios/Flutter/ephemeral/


# Misc
*.log


temp.txt


keys/